.ballots-about {
  font-size: 0;

  @media screen and (max-width: $tablet-width) {
    display: table;
    width: 100%;
  }

  $this: &;

  p {
    line-height: 28px;
  }

  &-i {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    &:not(&_time) {
      padding-right: 10px;

      @media screen and (max-width: $tablet-width) {
        padding-right: 0;
      }
    }

    @media screen and (max-width: $tablet-width) {
      display: table-row;
      width: 100% !important;
    }

    &_name {
      width: 20%;
    }

    &_action {
      width: 10%;
    }
// 25
    &_type {
      width: 10%;
    }

    &_proposal {
      width: 30%;
    }

    &_key {
      width: 25%;
      word-break: break-all;
    }

    &_key_wide {
      width: 50%;
      word-break: break-all;
    }

    &_proposed-min-threshold {
      width: 70%;
      word-break: break-all;
    }

    &_contract-type {
      width: 40%;
      word-break: break-all;
    }

    &_proposed-address {
      width: 30%;
      word-break: break-all;
    }

    &_time {
      width: 10%;
      text-align: right;

      @media screen and (max-width: $tablet-width) {
        text-align: left;
      }

      #{$this}-i--title {
        text-align: right;

        @media screen and (max-width: $tablet-width) {
          text-align: left;
        }
      }
    }

    &--title {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: -#{$desktop-indent * 2};
      opacity: 0.6;
      color: #38454f;
      text-transform: uppercase;
      font-size: 13px;

      @media screen and (max-width: $tablet-width) {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        white-space: nowrap;
      }
    }
  }

  &-td {
    @media screen and (max-width: $tablet-width) {
      display: table-cell;
      vertical-align: top;
    }

    &:first-child {
      @media screen and (max-width: $tablet-width) {
        padding-right: 20px;
      }
    }

    #{$this}-i:not(:last-child) & {
      @media screen and (max-width: $tablet-width) {
        padding-bottom: 10px;
      }
    }
  }
}
