.ballots-footer {
  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-width) {
    padding-top: $tablet-indent;
  }

  @media screen and (max-width: $mobile-width) {
    flex-direction: column-reverse;
    padding-top: $mobile-indent;
  }

  p {
    line-height: 18px;
    color: #8197a2;
  }

  &-finalize {
    @extend %_button;
    margin-right: 20px;
    background-color: fade-out(#08b3f2, 0.9);
    white-space: nowrap;

    @media screen and (max-width: $mobile-width) {
      width: 100%;
      margin-right: 0;
      margin-top: $mobile-indent;
      text-align: center;
    }
  }
}
