{
	"extends": "react-app",
	"rules": {
		"no-unused-vars": "off",
		"no-trailing-spaces": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-whitespace-before-property": "error",
		"comma-spacing": "error",
		"brace-style": "error",
		"func-names": "error",
		"no-duplicate-imports": "error",
		"no-dupe-class-members": "error",
		"arrow-spacing": "error"
	}
}
