html,
body,
#root,
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    // swal2-shown above are for when sweet alert is showing
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}