html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: $footer-height + 10px;
  background-color: #f4f9ff;

  @media screen and (max-width: $mobile-width) {
    padding-bottom: $footer-height + 30px;
  }
}

a {
  color: #08b3f2;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

p {
  color: #444;
  font-size: 14px;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0 30px;
  border: 0;
  background-color: #e5eef9;
}

.center {
  text-align: center;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

.left,
.right {
  @media screen and (max-width: $mobile-width) {
    float: none;
    width: 100%;
  }
}

.hidden {
  overflow: hidden;
}

.container {
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: $container-width) {
    width: 100%;
    padding: 0 10px;
  }
}

.title {
  margin-bottom: 30px;
  color: #38454f;
  font-size: 30px;
  font-weight: normal;

  @media screen and (max-width: $tablet-width) {
    font-size: 28px;
  }

  @media screen and (max-width: $mobile-width) {
    font-size: 26px;
  }
}
