.ballots-about {
  $cell-right-padding: 12px;

  @media screen and (max-width: $tablet-width) {
    display: table;
    width: 100%;
  }
  $this: &;
  p {
    line-height: 28px;
  }
  &-i {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    @media screen and (max-width: $tablet-width) {
      display: table-row;
      width: 100% !important;
    }
    & .ballots-about-td-value {
      padding-right: $cell-right-padding;
    }
    &_name {
      width: 12%;
    }
    &_action {
      width: 8%;
    }
    // 25
    &_type {
      width: 8%;
    }
    &_proposal {
      width: 30%;
    }
    &_key {
      width: 26%;
      word-break: break-all;
    }
    &_key_wide {
      width: 50%;
      word-break: break-all;
    }
    &_proposed_receiver {
      width: 45%;
      word-break: break-all;
    }
    &_funds_amount {
      width: 23%;
      word-break: break-all;
    }
    &_proposed-min-threshold {
      width: 30%;
      word-break: break-all;
    }
    &_contract-type {
      width: 25%;
      word-break: break-all;
    }
    &_proposed-address {
      width: 30%;
      word-break: break-all;
    }
    &_time {
      width: 20%;
    }
    &--title {
      color: #777;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
    }
    &:first-child .ballots-about-td-value {
      border-left: none;
      padding-left: 0;
    }
    &:last-child .ballots-about-td-value {
      border-right: none;
      padding-right: 0;
    }
  }
  &-td {
    &.ballots-about-td-value {
      color: #333;
      font-size: 14px;

      .ballots-about-i_action &,
      .ballots-about-i_type & {
        text-transform: capitalize;
      }

      @media screen and (max-width: $tablet-width) {
        padding-left: 0;
        padding-right: 0;
      }

    }
    @media screen and (max-width: $tablet-width) {
      display: table-cell;
      vertical-align: top;
    }
    &:first-child {
      @media screen and (max-width: $tablet-width) {
        padding-right: 10px;
      }
    }
    #{$this}-i:not(:last-child) & {
      @media screen and (max-width: $tablet-width) {
        padding-bottom: 10px;
      }
    }
  }
}
