.ballots-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: inline-flex;
    align-items: center;

    @media screen and (max-width: $mobile-width) {
      display: block;
      .btn {
        display: block;
        margin: 0 0 15px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $tablet-width) {
    padding-top: $tablet-indent;
  }

  @media screen and (max-width: $mobile-width) {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  p {
    color: #777;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    max-width: 340px;
    padding-left: 15px;
  }

  &-finalize {
    @extend %_button;
    margin-right: 20px;
    background-color: fade-out(#08b3f2, 0.9);
    white-space: nowrap;

    &-finalized {
      background-color: fade-out(#6d2eae, 0.9);
      color: #6d2eae;
      cursor: default;
    }

    @media screen and (max-width: $mobile-width) {
      width: 100%;
      margin-right: 0;
      margin-top: $mobile-indent;
      text-align: center;
    }
  }
}
