.ballots {
  .title {
    margin-bottom: 50px;
    @media screen and (max-width: $tablet-width) {
      margin-bottom: $tablet-indent;
    }
    @media screen and (max-width: $mobile-width) {
      margin-bottom: $mobile-indent;
    }
  }
  &-i {
    @extend %white-block;
    background-color: rgba(240, 240, 240, 0.2);
    &-not-finalized {
      background-color: #fff;
      border-color: rgba($primary-color, 0.3);
    }
    &-scale {
      border-top: 1px solid #e5eef9;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-top: $desktop-indent;
      padding: $desktop-indent 0 0 0;
      @media screen and (max-width: $tablet-width) {
        display: block;
        margin-top: $tablet-indent;
        padding: $tablet-indent 0 0 0;
      }
      @media screen and (max-width: $mobile-width) {
        margin-top: $mobile-indent;
        padding: $mobile-indent 0 0 0;
      }
      &-column {
        display: flex;
        justify-content: space-between;
        width: 48%;
        @media screen and (max-width: $tablet-width) {
          overflow: hidden;
          width: 100%;
        }
        &:last-child {
          @media screen and (max-width: $tablet-width) {
            flex-direction: row-reverse;
            margin-top: 30px;
          }
        }
      }
    }
    &--name {
      color: #333;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--created {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAw1BMVEWAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6M9jT1MAAAAQHRSTlMAAQIDBQYHDA0bHB8gISQmJyg+P0BGR0lKU1RZYmNrbHV2iYqLo6Spqqusra7Cw8TFysvM29zk5ufo6/Lz+Pn8DzgVHgAAATNJREFUeNplk+1agkAQhQfRykQTrJTEUjSCvtTQECPk/q+qPQ7LsnR+7DOzL898LiRlOP46zfN0vXQM0tXydkWlndeqs/620LTtK3Z7LBo6OpLd5fDzl6nVubSnIXv3zIY/8N4HVGrwBj8bwjaR77SgmhYn5DWF5eE7ZoribkZkoIeI78ZJMmYrQkcGjZD9mq+SokjY6qKqEfniDIiFYMR6FqZPn+J8+A9dYX5QKs5eBaFz3p4wUkLwizrkvB2UcoZXJUwYHiqIsDclnBzAvicyrFYQpBW0lK0oqVbkEHR1fzEEHl/YhCHG1yKaoYi5zubl4Mn8wsqe6uwRK4tNmHaG717VsiP4mV1uih9G4FrttuUG7GGGTLOioUwyRI51Ftv6o94rtNcfNbCz2uB32KycCv0BfU5XCrQEyKwAAAAASUVORK5CYII=);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      font-size: 13px;
      font-weight: 700;
      padding-left: 20px;
    }
    &--see-all-proposal {
      display: inline-block;
      margin-top: 5px;
    }
    &--time {
      color: #333;
      font-size: 24px;
      font-weight: bold;
      @media screen and (max-width: $tablet-width) {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    &--to-close {
      color: #333;
      text-transform: uppercase;
      @media screen and (max-width: $tablet-width) {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &--vote {
      @extend %_button;
      &-label {
        cursor: default;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        @media screen and (max-width: $mobile-width) {
          margin-bottom: 25px;
        }
      }
      &-label-right {
        margin-left: auto !important;
      }
      &_no {
        @media screen and (max-width: $tablet-width) {
          float: left;
          margin-left: 0;
          margin-right: 15px;
        }
      }
    }
  }
}

textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: auto;
  outline: none;
  border-radius: 3px;
  width: 100%;
}

.color-primary {
  color: $primary-color;
}
.color-danger {
  color: $danger-color;
}
.color-success {
  color: $success-color;
}
