.ballot-types {
  border-bottom: 1px solid #e5eef9;
  padding: 0 30px 10px;

  &-i {
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      left: -30px;
      top: 50%;
      opacity: 0;
      height: 30px;
      width: 3px;
      transform: translateY(-50%);
      background-color: $primary-color;
    }

    &_active {
      color: $primary-color;

      &:before {
        opacity: 1;
      }
    }
  }
}
