html,
body,
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  box-sizing: border-box;
  color: $base-text-color;
  font-family: 'Nunito', sans-serif;
  font-size: $base-font-size;
  position: relative;
  width: 100%;
}

a {
  color: $poa-purple;
  text-decoration: none;

  &.sokol {
    color: $sokol-cyan;
  }
}

.center {
  text-align: center;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

.left,
.right {
  @media screen and (max-width: $mobile-width) {
    float: none;
    width: 100%;
  }
}

.hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}

.container {
  width: $container-max-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: $container-max-width) {
    width: 100%;
    padding: 0 10px;
  }
}
