@mixin btn-background-properties() {
  background-size: 14px 14px;
  padding-right: 45px;
}

@mixin make-themed-btn($selector-name: '', $background-color: '', $box-shadow-color: '') {

  @if($selector-name != '') {

    &.#{ $selector-name } {
      background-color: $background-color;

      @if($box-shadow-color != '') {
        box-shadow: 0px 5px 10px 0 rgba($box-shadow-color...);
      }

      &:hover {
        background-color: darken($background-color, 10%);
      }
    }

  }

}

button,
input,
textarea {
  outline: none;
}

.btn {
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  outline: none;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.15s background-color;

  @include make-themed-btn('btn-primary', $primary-color, (92, 52, 162, 0.3));
  @include make-themed-btn('btn-success', $success-color, (96, 219, 151, 0.3));
  @include make-themed-btn('btn-danger', $danger-color, (242, 27, 87, 0.3));
  @include make-themed-btn('btn-freeze', $freeze-color, (80, 187, 218, 0.3));

  .sokol & {
    @include make-themed-btn('btn-primary', $primary-color-sokol, (106, 201, 185, 0.3));
    @include make-themed-btn('btn-success', $success-color-sokol, (96, 219, 151, 0.3));
    @include make-themed-btn('btn-danger', $danger-color-sokol, (242, 76, 103, 0.33));
    @include make-themed-btn('btn-freeze', $freeze-color-sokol, (80, 187, 218, 0.3));
  }

  &.btn-new {
    background-image: url('#{ $base-images-path }/icons/icon-add.svg');
    @include btn-background-properties();
  }
  &.btn-load-more {
    background-image: url('#{ $base-images-path }/icons/icon-load-more.svg');
    border-radius: 5px;
    border: 2px solid $primary-color;
    font-size: 17px;
    font-weight: 400;
    @include btn-background-properties();
    .sokol & {
      background-image: url('#{ $base-images-path }/icons/icon-load-more-sokol.svg');
      border-color: $primary-color-sokol;
    }
  }
  &.btn-transparent {
    color: $primary-color;
    background-color: transparent;
    &:hover {
      opacity: 0.8;
    }
    .sokol & {
      color: $primary-color-sokol;
    }
  }
  &[disabled],
  &.disabled {
    &,
    .sokol & {
      color: #333333;
      cursor: default;
      background-color: #f0f0f0;;
      box-shadow: none;
      &:hover {
        background-color: #f0f0f0;;
      }
    }
  }
  &.btn-finalize {
    background-image: url('#{ $base-images-path }/icons/icon-finalize-white.svg');
    @include btn-background-properties();
    &[disabled],
    &.disabled {
      background-image: url('#{ $base-images-path }/icons/icon-finalize-black.svg');
    }
  }
  // helpers
  &.no-shadow {
    box-shadow: none;
  }
  &.text-lowercase {
    text-transform: lowercase;
  }
  &.text-uppercase {
    text-transform: uppercase;
  }
  &.text-capitalize {
    text-transform: capitalize;
  }
}