button,
input,
textarea {
  outline: none;
}

.btn {
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  outline: none;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.15s background-color;
  &.btn-primary {
    background-color: $primary-color;
    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
  &.btn-secondary {
    background-color: $secondary-color;
    &:hover {
      background-color: lighten($secondary-color, 10%);
    }
  }
  &.btn-success {
    background-color: $success-color;
    &:hover {
      background-color: lighten($success-color, 10%);
    }
  }
  &.btn-danger {
    background-color: $danger-color;
    &:hover {
      background-color: lighten($danger-color, 10%);
    }
  }
  &.btn-new {
    background-image: url('#{ $base-images-path }/icons/icon-add.svg');
    background-size: 14px 14px;
    padding-right: 45px;
  }
  &[disabled],
  &.disabled {
    color: #788f9a;
    cursor: default;
    background-color: #dde2e8;
    &:hover {
      background-color: #dde2e8;
    }
  }
}
