label {
  color: $gray-text-color;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 15px;
}

input,
textarea {
  @extend %form-el;

  &:focus {
    border-color: #fff;
  }

  &[type='radio'] {
    display: none;
  }
}

textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70px;
  resize: none;
}

select {
  @include image-2x('./images/select@2x.png', 8px, 4px);
  @extend %form-el;
  appearance: none;
  background-image: url(./images/select.png);
  background-position: right 13px center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

button {
  @extend %button;
  background-color: fade-out($primary-color, 0.9);
  color: $primary-color;

  &.load-more {
    margin-bottom: 50px;

    @media screen and (max-width: $container-width) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: $tablet-width) {
      margin-top: 80px;
    }
  }
}

.radio-button {
  position: relative;

  &-label {
    @include not-selectable-text();
    border-radius: 3px;
    border: 1px solid $base-border-color;
    color: $gray-text-color;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    outline: none;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    transition: 0.25s background-color;
    position: relative;
    z-index: 1;
  }

  input[type='radio'] {
    height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 12;
  }

  input[type='radio']:checked + &-label {
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: 0px 5px 10px 0 rgba(92, 52, 162, 0.3);
    color: #fff;
    .sokol & {
      background-color: $primary-color-sokol;
      border-color: $primary-color-sokol;
      box-shadow: 0px 5px 10px 0 rgba(106, 201, 185, 0.3);
    }
  }
}

.keys-radio-button-tr {
  display: flex;
  margin-bottom: 30px;
  @media screen and (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.keys-radio-button-td {
  min-width: 30%;
  margin-right: 5%;
  &:last-child {
    margin-right: 0;
  }
  .radio-button-label {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: $tablet-width) {
    margin-bottom: 15px;
    margin-right: 0;
    min-width: 100%;
  }
}

.form-el {
  margin-bottom: 30px;
}

.hint {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  padding-top: 12px;
  margin: 0;
  word-break: break-word;

  a {
    color: $primary-color;

    .sokol & {
      color: $primary-color-sokol;
    }
  }
}
