.footer {
  @extend %full-width;

  background-color: $primary-color;
  bottom: 0;
  padding: 18px 0;
  position: absolute;

  &.sokol {
    background-color: $primary-color-sokol;
  }

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  .socials {
    order: 2;

    @media screen and (max-width: $tablet-width) {
      margin-top: 15px;
      order: 1;
    }
  }

  &-logo {
    background-image: url('#{ $base-images-path}/logos/logo-poa.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 18px;
    left: 0;
    order: 0;
    width: 139px;

    &.sokol {
      background-image: url('#{ $base-images-path}/logos/logo-sokol.svg');
      width: 144px;
    }
  }

  &-rights {
    color: #fff;
    font-size: 12px;
    order: 1;
    text-align: center;

    @media screen and (max-width: $tablet-width) {
      line-height: normal;
      margin-top: 15px;
      order: 2;
      width: 100%;
    }
  }
}
