.header {
  background-color: $primary-color;
  position: relative;
  width: 100%;
  z-index: 9999;

  @media screen and (max-width: $mobile-width) {
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 124;
  }

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $mobile-width) {
      width: 93%;
      padding: 22px 0;
    }
  }

  &.sokol {
    background-color: $primary-color-sokol;
  }

  // logos
  &-logo {
    display: block;
    height: 26px;
  }

  // header links
  .links-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: $header-links-container-height;
    margin-left: auto;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }

    @media screen and (max-width: $tablet-width) {
      justify-content: flex-end;
      width: auto;
    }
  }

  .links-container-mobile {
    display: none;

    @media screen and (max-width: $mobile-width) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
    }
  }

  .link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 34px;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity linear 0.1s;

    &:hover,
    &.active {
      opacity: 1;
    }

    @media screen and (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  // header link items
  .link-icon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &-all {
      background-image: url('#{ $base-images-path }/icons/icon-all.svg');
    }
    &-active {
      background-image: url('#{ $base-images-path }/icons/icon-active.svg');
    }
    &-to-finalize {
      background-image: url('#{ $base-images-path }/icons/icon-to-finalize.svg');
    }
  }

  &.sokol {
    .link-icon {
      &-all {
        background-image: url('#{ $base-images-path }/icons/icon-all-sokol.svg');
      }
      &-active {
        background-image: url('#{ $base-images-path }/icons/icon-active-sokol.svg');
      }
      &-to-finalize {
        background-image: url('#{ $base-images-path }/icons/icon-to-finalize-sokol.svg');
      }
    }
  }

  .mobile-menu {
    display: none;
    @media screen and (max-width: $mobile-width) {
      display: block;
      order: 3;
    }

    .mobile-menu-icon {
      width: 18px;
      height: 14px;
    }

    .mobile-menu-open-icon {
      width: 18px;
      height: 18px;
    }
  }

  .header-mobile-menu-container {
    @media screen and (max-width: $mobile-width) {
      background-color: $primary-color-darker;
      height: $header-mobile-menu-container-height;
    }
  }

  &.sokol {
    .header-mobile-menu-container {
      @media screen and (max-width: $mobile-width) {
        background-color: $primary-color-darker-sokol;
      }
    }
  }

  .Select {
    $select-mobile-width: 125px;

    margin-left: 25px;
    @media screen and (max-width: $mobile-width) {
      margin-left: 0;
      max-width: $select-mobile-width;
      order: 2;
      .Select-control {
        max-width: $select-mobile-width;
      }
    }
  }

  .btn.btn-new-ballot {
    height: 36px;
    line-height: 36px;
    opacity: 1;
    .link-icon {
      display: none;
    }
  }

  &.sokol {
    .btn.btn-new-ballot {
      background-color: #fff;
      background-image: url('#{ $base-images-path }/icons/icon-add-sokol.svg');
      color: $primary-color-sokol;
      &:hover {
        opacity: 0.9;
      }
    }
  }

}

.select-network-id {
  background: #fff;
  width: 40px;
}
