.app-container {
  padding-bottom: 30px;
  padding-top: 40px;
  position: relative;
  &.app-container-open-mobile-menu {
    &:before {
      background-color: rgba(78, 44, 137, .8);
      bottom: 0;
      content: '';
      display: none;
      left: 0;
      position: fixed;
      right: 0;
      top: $header-mobile-menu-container-height + $header-height_mobile;
      z-index: 1234;
      @media screen and (max-width: $mobile-width) {
        display: block;
      }
    }
  }
  &.app-container-open-mobile-menu.sokol {
    &:before {
      background-color: rgba(106, 201, 185, .8);
    }
  }
}

@media screen and (max-width: $mobile-width) {
  #root,
  .app-container {
    height: 100%;
  }
  .app-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content {
  @media screen and (max-width: $mobile-width) {
    padding-top: $header-height_mobile + $search-container-height;
  }
  &.content-menu-open {
    padding-top: $header-mobile-menu-container-height + $header-height_mobile;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
