.search-container {
  background-color: #502d8d;
  box-sizing: border-box;
  height: $search-container-height;
  padding: 10px 0 0 0;

  &.sokol {
    background-color: $primary-color-darker-sokol;
  }

  @media screen and (max-width: $mobile-width) {
    left: 0;
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 123;
  }

}

input.search-input {
  background-color: transparent;
  background-image: url('#{ $base-images-path }/icons/icon-search.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  outline: none;
  padding-left: 30px;
  width: 100%;
  &,
  &:focus
  &:hover,
  &:active {
    color: #fff;
  }
  .sokol & {
    background-image: url('#{ $base-images-path }/icons/icon-search-sokol.svg');
  }
  @include placeholder-full($color: rgba(255, 255, 255, 0.5));
}
