.socials {
  &-item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-i {
    background-color: #ffffff;
    border-radius: 3px;
    display: inline-block;
    font-size: 0;
    height: 30px;
    position: relative;
    transition: 0.3s background-color;
    vertical-align: top;
    width: 30px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      background-color: fade-out(#fff, 0.6);
    }

    &:before {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 16px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
    }

    &_github {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/git@2x.png');
        background-image: url('#{ $base-images-path }/socials/git.png');
      }
    }

    &_telegram {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/telegram@2x.png');
        background-image: url('#{ $base-images-path }/socials/telegram.png');
      }
    }

    &_twitter {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/tw@2x.png');
        background-image: url('#{ $base-images-path }/socials/tw.png');
      }
    }

    &_poa {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/poa@2x.png');
        background-image: url('#{ $base-images-path }/socials/poa.png');
        height: 20px;
        width: 20px;
      }
    }

  }
}

.sokol {
  .socials {

    .socials-i_github {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/git-sokol@2x.png');
        background-image: url('#{ $base-images-path }/socials/git-sokol.png');
      }
    }

    .socials-i_telegram {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/telegram-sokol@2x.png');
        background-image: url('#{ $base-images-path }/socials/telegram-sokol.png');
      }
    }

    .socials-i_twitter {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/tw-sokol@2x.png');
        background-image: url('#{ $base-images-path }/socials/tw-sokol.png');
      }
    }

    .socials-i_poa {
      &:before {
        @include image-2x('#{ $base-images-path }/socials/poa-sokol@2x.png');
        background-image: url('#{ $base-images-path }/socials/poa-sokol.png');
      }
    }
  }
}
