.vote-scale {
    background-color: #f0f0f0;
    border-radius: 5px;
    clear: left;
    height: 10px;
    margin-top: 34px;
    overflow: hidden;
    &-not-finalized {
        background-color: #fff;
    }
    &--fill {
        height: 100%;
        border-radius: 3px;
        &_no {
            background-color: $poa-danger-color;
            .sokol & {
                background-color: $sokol-danger-color;
            }
        }
        &_yes {
            background-color: $poa-green-color;
            .sokol & {
                background-color: $sokol-cyan;
            }
        }
        &_send {
            background-color: $poa-green-color;
            .sokol & {
                background-color: $sokol-cyan;
            }
        }
        &_burn {
            background-color: $poa-danger-color;
            .sokol & {
                background-color: $sokol-danger-color;
            }
        }
        &_freeze {
            background-color: $poa-freeze-color;
            .sokol & {
                background-color: $sokol-freeze-color;
            }
        }
    }
    &--container {
        width: 100%;
    }
    &--value {
        float: left;
        font-size: 12px;
    }
    &--votes,
    &--percentage {
        float: right;
        font-size: 13px;
    }
    &--votes {
        color: $gray-text-color;
        margin-left: 10px;
    }
    &--percentage {
        color: #000;
        font-weight: 700;
    }
}