.vote-scale {
  background-color: #f0f0f0;
  border-radius: 5px;
  clear: left;
  height: 10px;
  margin-top: 34px;
  overflow: hidden;

  &-not-finalized {
    background-color: #ffffff;
  }

  &--fill {
    height: 100%;
    border-radius: 3px;

    &_no {
      background-color: $danger-color;
      .sokol & {
        background-color: $danger-color-sokol;
      }
    }

    &_yes {
      background-color: $success-color;
      .sokol & {
        background-color: $success-color-sokol;
      }
    }

    &_send {
      background-color: $success-color;
      .sokol & {
        background-color: $success-color-sokol;
      }
    }

    &_burn {
      background-color: $danger-color;
      .sokol & {
        background-color: $danger-color-sokol;
      }
    }

    &_freeze {
      background-color: $freeze-color;
      .sokol & {
        background-color: $freeze-color-sokol;
      }
    }

  }

  &--container {
    width: 100%;
  }

  &--value {
    float: left;
    font-size: 12px;
  }

  &--votes,
  &--percentage {
    float: right;
    font-size: 13px;
  }

  &--votes {
    color: $gray-text-color;
    margin-left: 10px;
  }

  &--percentage {
    color: #000;
    font-weight: 700;
  }
}
