@mixin image-2x($image, $width: 100%, $height: 100%) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin default-text-input-styles() {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid $base-border-color;
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
  height: 38px;
  outline: none;
  padding: 0 15px;
  transition: 0.15s border-color;
  &:hover {
    border-color: #8e959d;
    color: $input-color;
  }
  &:focus {
    border-color: $primary-color;
    color: $input-color;
  }
}
