$base-images-path: '../assets/images';

// colors
$primary-color: #5c34a2;
$primary-color-darker: #45277a;
$primary-color-sokol: #6ac9b9;
$primary-color-darker-sokol: #41b19e;
$danger-color: #f21b57;
$freeze-color: #50bbda;
$freeze-color-sokol: #50bbda;
$danger-color-sokol: #f24c67;
$success-color: #60db97;
$success-color-sokol: #6ac9b9;
$gray-text-color: #333;

// borders
$base-border-color: #e4e4e4;

// widths
$container-width: 960px;
$container-responsive-width: 980px;
$tablet-width: 768px;
$mobile-width: 767px;
$small-mobile-width: 360px;

// header
$header-links-container-height: 70px;
$header-height_mobile: 70px;

// search
$search-container-height: 50px;

// mobile menu
$header-mobile-menu-container-height: 220px;

// footer
$footer-height_desktop: 66px;
$footer-height_mobile: 132px;

// misc
$desktop-indent: 30px;
$tablet-indent: 15px;
$mobile-indent: 10px;

// forms
$input-height: 40px;
$input-color: #202d3c;

$footer-height: 60px;
