%full-width {
  left: 0;
  right: 0;
}

%logos {
  @include image-2x('./images/logos@2x.png', 149px, 59px);
  display: block;
  background-image: url(./images/logos.png);
}

%white-block {
  transition: 0.3s box-shadow;
  margin-bottom: $desktop-indent;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 fade-out(#326cb5, 0.92);
  padding: $desktop-indent;
  background-color: #fff;

  @media screen and (max-width: $tablet-width) {
    margin-bottom: $tablet-indent;
    padding: $tablet-indent;
  }
}

%form-el {
  transition: 0.3s background-color,
              0.3s border-color;
  width: 100%;
  height: $input-height;
  outline: none;
  border-radius: 3px;
  border: 1px solid #e5eef9;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #fff;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

%button {
  cursor: pointer;
  display: inline-block;
  transition: 0.3s opacity;
  box-sizing: border-box;
  border: 0;
  outline: none;
  padding: 0 15px;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    opacity: 0.9;
    text-decoration: none;
  }

  &_icon {
    padding: 0 15px 0 33px;
    background-repeat: no-repeat;
    background-position: left 15px center;
  }
}
