.sw-IconLoadMore_Path {
    &#{ & }-core {
        fill: $poa-purple;
    }

    &#{ & }-sokol {
        fill: $sokol-cyan;
    }

    &#{ & }-dai {
        fill: $xdai-gray-dark;
    }

    &#{ & }-kovan {
        fill: $kovan-cyan;
    }

    .sw-ButtonLoadMore:hover & {
        opacity: 0.7;
    }
}