// TODO: Temporary, fix this

.link-icon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &-all {
        background-image: url('#{ $base-images-path }/icons/icon-all.svg');
    }
    &-active {
        background-image: url('#{ $base-images-path }/icons/icon-active.svg');
    }
    &-to-finalize {
        background-image: url('#{ $base-images-path }/icons/icon-to-finalize.svg');
    }

    .sokol &  {
        &-all {
            background-image: url('#{ $base-images-path }/icons/icon-all-sokol.svg');
        }
        &-active {
            background-image: url('#{ $base-images-path }/icons/icon-active-sokol.svg');
        }
        &-to-finalize {
            background-image: url('#{ $base-images-path }/icons/icon-to-finalize-sokol.svg');
        }
    }
}