.sw-LogoKovan {
    align-items: center;
    display: flex;
    justify-content: center;

    .sw-Header & {
        width: 178px;
    }

    .sw-Footer & {
        height: 26px;
    }

}

.sw-LogoKovan_Image {
    display: block;
    height: 100%;
    width: 100%;
}