.sw-MainTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.sw-MainTitle_Content {
  @include content-layout-width();
}

.sw-MainTitle_Text {
  color: #333;
  font-size: 24px;
  line-height: 38px;
}