.hd-MobileMenuLinks {
    background-color: $poa-purple-darker;
    // height: $header-mobile-menu-container-height;
    padding-bottom: 20px;
    width: 100%;

    &#{ & }-core {
        background-color: $poa-purple-darker;
    }

    &#{ & }-sokol {
        background-color: $sokol-cyan-darker;
    }

    &#{ & }-dai {
        background-color: $xdai-gray-darker;
    }
}
