.hd-MobileMenuLinks {
    background-color: $poa-purple-darker;
    padding: 10px;
    width: 100%;

    &#{ & }-core {
        background-color: $poa-purple-darker;
    }

    &#{ & }-sokol {
        background-color: $sokol-cyan-darker;
    }

    &#{ & }-dai {
        background-color: $xdai-gray-darker;
    }

    &#{ & }-kovan {
        background-color: $kovan-cyan-darker;
    }
}
