.footer {
  @extend %full-width;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  background-color: #6d2eae;

  @media screen and (max-width: $mobile-width) {
    height: auto;
    padding: 20px 10px 0;
  }


  &.sokol {
    background-color: #6ac9b9;
  }

  .container {
    position: relative;

    @media screen and (max-width: $mobile-width) {
      padding-top: $footer-height - 20;
    }
  }

  &-logo,
  .socials {
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    top: 50%;

    @media screen and (max-width: $mobile-width) {
      transform: translateY(0);
      top: 0;
    }
  }

  &-logo {
    @extend %logos;
    left: 0;
    width: 127px;
  	height: 24px;
  	background-position: 0 0
  }

  &-rights {
    color: #fff;
    line-height: $footer-height;
    text-align: center;
    font-size: 12px;

    @media screen and (max-width: $mobile-width) {
      line-height: 30px;
    }
  }
}
