.header {
  margin-bottom: $desktop-indent;
  padding: 22px 0;
  background-color: #6d2eae;

  @media screen and (max-width: $tablet-width) {
    margin-bottom: $tablet-indent;
  }

  @media screen and (max-width: $mobile-width) {
    margin-bottom: $mobile-indent;
  }

  .container {
    overflow: hidden;
  }

  &-logo {
    @extend %logos;
    float: left;
    width: 182px;
  	height: 35px;
    background-position: 0 -24px;
  }

  &-settings,
  &-new-ballot {
    @extend %button;
    @extend %button_icon;
    float: right;
    border-radius: 3px;
    color: #fff;
    background-size: 12px 12px;

    @media screen and (max-width: $tablet-width) {
      padding: 0 20px;
      background-position: center center;
      font-size: 0;
    }
  }

  &-settings {
    margin-right: 15px;
    background-color: #7d58bb;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAflBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+yfIzaAAAAKXRSTlMAAgQFBgwNDhAqKyxJSlJTVFVXZGVojo+Q19ja5Obn6+3u7/D19vf8/fmxL7QAAADLSURBVHgBfdHtVoJAGMTxUUwUZCtKRWzpxWj93/8Nti5LxDlbv68DzHkGTXbW7pRiwWpumcnDk5ctFe37y8MUPH58PsXne3D19oB32NYO+uGdxRvgrgRXB7wvFBjHjLtXVM8SV2tU3IKzyXNzvgWFRkeg3cjbtMAx3ktgYh+B38AyyBXcEZO/gk5Vl/rUS/VTfhrKT0CjUemA1qzXpgVcqf8PTEwS+xav6RHj7EWD15S/Ztf+a/ajLv2zomylKdAq05yFTilVF+8NvgGLASpP2eRPbAAAAABJRU5ErkJggg==);
  }

  &-new-ballot {
    background-color: #08b3f2;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAAOUlEQVR42tXQsQEAIAgDQcAn+4+snRZxAK79KokrIcNBwgYdc0Migwxk8Qsd1TJWDf/KQWobqt+9G4coA99W7as5AAAAAElFTkSuQmCC);
  }
}
