.new {
  &-form {
    @extend %white-block;
    overflow: hidden;

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $mobile-width) {
        flex-direction: column;
      }
    }
  }

  .add-ballot {
    white-space: nowrap;

    @media screen and (max-width: $mobile-width) {
      margin-top: 20px;
    }
  }
}
