.vote-scale {
  clear: left;
  overflow: hidden;
  height: 6px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: fade-out(#e5eef9, 0.5);

  &--fill {
    height: 100%;
    border-radius: 3px;

    &_yes {
      background-color: #08b3f2;
    }

    &_no {
      background-color: #6d2eae;
    }
  }

  &--container {
    width: 100%;
    max-width: 343px;

    @media screen and (max-width: $tablet-width) {
      float: right;
      max-width: 100%;
    }
  }

  &--value {
    float: left;
    font-size: 12px;
  }

  &--votes,
  &--percentage {
    float: right;
    font-size: 12px;
  }

  &--votes {
    margin-left: 10px;
    color: #8197a2;
  }

  &--percentage {
    color: #08b3f2;
  }
}
